#CattolicaNav .Cattolica_tabs {
    font-size: 1em;
    color: white;
    font-family: "Georgia", sans-serif;
}

#CattolicaNav .Cattolica_tabs:hover{
    color: #EB8E07;
    background-color: #002F50;
    transform: scale(1.2);
    z-index: 100;
}

#CattolicaNav .Cattolica_tabs_d {
    font-size: 1em;
    color: white;
    font-family: "Georgia", sans-serif;

}

#CattolicaNav .Cattolica_tabs_d:hover {
    color: #ffa800;
    background-color: #002F50;
    transform: scale(1.2);
    z-index: 100;

}

#CattolicaNav .Cattolica_tabs_dd{
    font-size: 0.8em;
    font-family: "Georgia", sans-serif;
    color: black;
}

#CattolicaNav .Cattolica_tabs_dd_item{
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#CattolicaNav h3:hover{
    color: #00609d;
}

#CattolicaNav .Cattolica_tabs_dd_item:active{
    background-color: transparent;
}



#CattolicaNav h3{
    font-size: 1em !important;
    font-family: "Georgia", sans-serif;
    color: black;
}

#CattolicaNav .hr_style{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #00609d;
    color: #00609d;
    text-align: center;
}

#CattolicaNav MDBDropdownMenu{
    background-color: white;
}

#CattolicaNav .icon_color{
    color: #00609d;
}