#Cattolica_Footer .footer_bg{
    background-color: #00609d;
    padding: 2em;
}

#Cattolica_Footer .footer_bg_btm{
    background-color: #0174d9;
}

#Cattolica_Footer .icon_color{
    color: #EB8E07;
}

#Cattolica_Footer a:hover{
    text-decoration: underline;
    color: #EB8E07;
}