#Milan_Program .banner{
    background-image: url("./studyabroad.jpg");
    height:50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 66em;

}

#Milan_Program .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: #EB8E07;
    font-family: "Arial", sans-serif;
    font-size: 1em;
}

#Milan_Program h1 {
    font-size: 2.3em;
    font-family: "Georgia", sans-serif;
    color: #00609d;
}

#Milan_Program h2 {
    font-size: 1.9em;
    font-family: "Georgia", sans-serif;
    color: #00609d;
}

#Milan_Program h3 {
    font-size: 1.7em;
    font-family: "Arial", sans-serif;
    color: #00609d;
}

#Milan_Program h5 {
    font-size: 1.5em;
    font-family: "Arial", sans-serif;
    color: #00609d;
}

#Milan_Program h6 {
    font-size: 1.3em;
    color: #d8a915;
    font-family: Arial, Helvetica, sans-serif;
}

#Milan_Program p {
    color: black;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#Milan_Program .posAdjust{
    margin-top: -13em;
}

#Milan_Program .font_adjust{
    font-size: 0.7em;
}

#Milan_Program ul {
    list-style: none; /* Remove default bullets */
}

#Milan_Program li {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#Milan_Program ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #EB8E07; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

#Milan_Program td {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#Milan_Program th {
    font-size: 0.8em;
    font-weight: bold;
    color: #00609d;
}

#Milan_Program .a_link{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 0.9em;
}

#Milan_Program .container_size{
    padding: 2em;
}

#Milan_Program .colorChange{
    color: #00609d;
}

#Milan_Program .sizeChange{
    font-size: 1.2em;
}

#Milan_Program .btns{
    font-family: "Arial", sans-serif;
}