#CattolicaHome .banner{
    background-image: url("./home_banner.jpg");
    height:50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 66em;

}

#CattolicaHome h1{
    font-family: "Georgia", sans-serif;
    color: #00609d;
}

#CattolicaHome h3{
    font-family: "Georgia", sans-serif;
    color: #00609d;
}

#CattolicaHome p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#CattolicaHome .left_nav{
    color: white;
    padding: 0.5em;
    background-color: #00609d;
}

